/* SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

:root {
  // --color-bg: #f6f8ff;
  --color-primary: #0079ff;
  --color-primary-hover: #60abff;

  --color-txt-high-contrast: #fff;
  --color-txt-mid-contrast: #ffff;
  --color-txt-low-contrast: #ffffff82;

  --color-txt-search: #fff;
  --color-txt-search-placeholder: #fff;

  --color-bg: #141d2f;
  --color-bg-secondary: #1e2a47;

  --color-theme-switch-btn-hover: #90a4d4;

  --color-error: #f74646;

  .light {
    --color-primary: #0079ff;
    --color-primary-hover: #60abff;

    --color-txt-high-contrast: #2b3442;
    --color-txt-mid-contrast: #4b6a9b;
    --color-txt-low-contrast: #697c9a;

    --color-txt-search: #222731;
    --color-txt-search-placeholder: #4b6a9b;

    --color-bg: #f6f8ff;
    --color-bg-secondary: #fefefe;

    --color-theme-switch-btn-hover: #222731;

    /* Neutral */
    --error: #f74646;
  }
}

// MEDIA QUERIERS MANAGER
@mixin respond($breakpoint) {
  // 1400px
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 87.5em) {
      @content;
    }
  }

  // 900px
  @if $breakpoint == tab-pot {
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }

  //600px
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }

  // 450px
  @if $breakpoint == phone-min {
    @media only screen and (max-width: 25em) {
      @content;
    }
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(tab-pot) {
    font-size: 50%;
  }

  @include respond(phone-min) {
    font-size: 43.75%;
  }
}

body {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  line-height: 1;
  min-height: 100vh;
  background-color: var(--color-bg);
  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.4s;
}

.finder-app {
  width: 100%;
  max-width: 72rem;
  margin: 3.2rem;
}

// .skeleton {
//   opacity: 0.7;
//   animation: skeleton-loading 1s linear infinite alternate;
// }

// @keyframes skeleton-loading {
//   0% {
//     background-color: hsl(200, 20%, 70%);
//   }

//   100% {
//     background-color: hsl(200, 20%, 95%);
//   }
// }
